./accounts/__pycache__/*
./accounts/migrations/__pycache__/*
./chat/__pycache__/*
./chat/migrations/__pycache__/*
./config/__pycache__/*
./config/migrations/__pycache__/*
./frined/__pycache__/*
./friend/migrations/__pycache__/*
./room/__pycache__/*
./room/migrations/__pycache__/*
./.gitignore